<div class="rightSide">
    <div class="container">
        <div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       disabled value="<%= user.email %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Login Time</label>
                <input type="text" class="form-control" id="exampleInputPassword1" disabled value="<%= new Date(user
                        .lastLogin) %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Sync Time</label>
                <input type="text" class="form-control" id="exampleInputPassword1" disabled value="<%= new Date(user
                        .lastSync) %>">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Last Sync Time</label>
                <% user.mailFolders.forEach(f =>{ %>
                    <button class="btn btn-block btn-primary" id="exampleInputPassword1">
                        <%= f %>
                    </button>
                <% }) %>
            </div>

        </div>
    </div>
</div>

