<% var version = "1.0.1" %>

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<title>Email Engine Core</title>


<link type="text/css" rel="stylesheet" href="/css/libs/bootstrap.min.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/libs/bootstrap-social.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/libs/font-awesome.min.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection"/>


<script type="text/javascript" src="/js/libs/jquery.min.js"></script>

