<div class="menu-container">
<div class="row">
<div class=" col-md-4">
<a href="/profile" class="btn btn-info btn-block">Profile</a>
</div>
<div class=" col-md-4">
<a href="/mails" class="btn btn-success btn-block">All Mails</a>
</div>
<div class=" col-md-4">
<a href="/logout" class="btn btn-danger btn-block">Exit</a>
</div>
</div>
</div>