<div class="leftSide">
    <div id="leftPanel">
        <div class="list-group">
            <a href="/profile"
               class="list-group-item list-group-item-action <%= (typeof page !== "undefined" && page === 'profile') ?
                       'active' : '' %>">
                Profile
            </a>
<!--            <a id="uploadPanel" href="/panel/signup"-->
<!--               class="list-group-item list-group-item-action <%= (typeof page !== "undefined" && page === 'signup') ? 'active' : '' %>">-->
<!--                افزودن شخص جدید-->
<!--            </a>-->
<!--            <a id="uploadPanel" href="/panel/editUser"-->
<!--               class="list-group-item list-group-item-action <%= (typeof page !== "undefined" && page === 'usersList') ? 'active' : '' %>">-->
<!--                مدیریت اشخاص-->
<!--            </a>-->
        </div>
    </div>
</div>
